h3 {
    color: blue;
    font-weight: 800;
    font-size: 5rem;
}
.card {
position: relative;
width: 400px;
height: 400px;

}
.card-img {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}
.layer {
    position: absolute;
    background: darkblue;
top: 0;
left: 0;
height: 100%;
width: 100%;
opacity: 0;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
transition: .4s;
}
.layer a {
    font-size: 1.5rem;
    color: #fff;
}
.layer:hover {
    opacity: .6;
}